@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Raleway", "Open Sans", "sans-serif", "Nunito Sans";
    list-style-type: none;
    text-decoration: none;
}

.continer {
    max-width: 1280px;
    margin: 0 auto;
}

/* ////header//// */
header {
    background-color: #1B2330;
    /* position: relative; */
}

.header {
    position: relative;
}

.header__navigation {
    display: flex;
    align-items: center;
    padding-top: 73px;
    width: 1280px;
}


.sait__svg {
    display: inline-block;
    width: 176px;
    height: 52px;
}

.sait__svg:hover path {
    fill: aqua;
}

path {
    transition: all 0.3s ease;
}

.navigation__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navigation__nav__item {
    height: 22px;
}

.navigation__nav__item~.navigation__nav__item {
    margin-left: 57px;
}

.navigation__nav__item a {
    color: white;
    height: 19px;
    transition: all 0.5s ease;
}

.line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.navigation__nav__item a:hover {
    color: aqua;
}

.navigation__nav__item:active .line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: aqua;
}

/* //////////////////// */
.header__middle__jpg {
    width: 734px;
    padding-top: 75px;
    margin-left: 230px;
    text-align: center;
    margin-bottom: 158px;
}

.header__middle__jpg img {
    width: 734px;
    height: 534px;

}

.header__middle__jpg h2 {
    margin-top: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    width: 734px;
}

.header__middle__jpg p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    color: #FFFFFF;
    width: 589px;
    margin-top: 32px;
}

.site__header__button {
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 28px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 19px 96px;
    margin-top: 32px;
    border: none;
    transition: all 0.3s ease;
    width: 285px;
    height: 56px;
}

.site__header__button:hover {
    background: linear-gradient(90deg, #755bea, #ff72c0);
}

.site__header__button:active {
    border: 1px solid aqua;
    opacity: 0.4;
    transform: scale(0.99);
}

/* ////header//// */

/* ////main//// */
/* ////section//// */
main {
    background: url(../images/Path_2.png), #1B2330;
    background-position: 0px 730px;
    background-repeat: no-repeat;
    background-size: cover;
}

.section__bloc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 880px;
    margin-left: 140px;
}

.section__bloc__list {
    width: 349px;
    margin-bottom: 96px;
}

.section__bloc__too {
    width: 349px;
}

.section__bloc__list__item {
    width: 349px;
    text-align: center;
}

.section__bloc__list__item h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: white;
}

.section__bloc__list__item p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: white;
}

.section__bloc__list__too {
    width: 349px;

}

.section__bloc__too {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 880px;
    margin-left: 140px;
}

/* ////section//// */

/* ////section__too//// */
.section__too {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 136px;
}

.section__too__jpg img {
    width: 615px;
    height: 464px;
}

.section__too__right {
    width: 563px;
}

.section__too__right h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    width: 506px;
}

.section__too__right p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 563px;
}

.section__too__right a {
    display: inline-block;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #62E0D9;
    vertical-align: middle;
    transition: all 0.4s ease;
}

.section__too__right a:hover {
    border-bottom: 1px solid #62E0D9;
}

.section__too__right a:active {
    transform: scale(0.8);
}

.link__img {
    width: 14px;
    height: 16px;
    vertical-align: middle;
}

/* ////section__too//// */

/* ////section__three//// */
.section__three__pages {
    margin-top: 179px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0px;
    position: relative;
}

.section__three__pages::before {
    position: absolute;
    content: '“';
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    line-height: 200px;
    color: #62E0D9;
    transform: translate(-590px, -60px);
    z-index: 0;
}

.section__three__pages__item {
    width: 360px;
    background-color: #202A3C;
    padding: 26px 26px;
    z-index: 1;
}

.section__three__pages__item:hover {
    box-shadow: 2px 2px 20px 10px rgb(204, 197, 197);
    background-color: white;
}

.section__three__pages__item:hover p {
    color: #0162c8;
}

.section__three__pages__item:hover h4 {
    color: #0162c8;
}

.section__three__pages__item p {
    width: 309px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.section__three__item__bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.setion__three__iteam__jpg img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.section__three__item__jpg__name h4 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.section__three__item__jpg__name p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

/* ////section__three//// */

/* ////section__four//// */
.section__four {
    width: 863px;
    background-color: #1B2330;
    padding: 42px 72px;
    margin-top: 85px;
    height: 300px;
    transform: translateY(116px);
    transition: all 0.3s ease;
}

.section__four:hover {
    color: #755bea;
    background-color: #172b49;
    box-shadow: 2px 10px 12px 20px #0B1524;
}

.section__four__title {
    text-align: center;
}

.section__four__title h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.section__four__title p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.section__four__form {
    margin-top: 38px;
}

.section__four__form__input {
    background: #FFFFFF;
    box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
    border-radius: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #979292;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 38px;
    padding-right: 208px;
    outline: none;
    height: 48px;
}

.section__four__form__button {
    background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
    box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
    border-radius: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 27px;
    border: none;
    height: 48px;
    width: 200px;
    margin-left: 29px;
}

.section__four__form__button:hover {
    background: linear-gradient(90deg, #755bea, #ff72c0);
}

.section__four__form__button:active {
    border: 1px solid aqua;
    opacity: 0.4;
    transform: scale(0.99);
}

/* ////section__four//// */

/* /////footer//// */
footer {
    background-color: #0B1524;
}

.footer__wrapper {
    padding-top: 203px;
    padding-bottom: 97px;
}

.footer__pages {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-left: 0;
    margin-top: 33px;
}

.footer__pages__item__one {
    margin-right: -80px;
}

.footer__pages__item__one img {
    width: 12px;
    height: 18px;
}

.footer__pages__item__too p {
    width: 339px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-block-start: 0em;
}

.footer__pages__item__three a {
    display: inline-block;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 19px;
    transition: all 0.4s ease;
}

.footer__pages__item__three a:hover {
    color: #55e7fc;
    transform: scale(1.1);
}

.footer__pages__item__three a:active {
    transform: scale(1);
}

.footer__pages__item__three img {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
}

.footer__pages__item__four a {
    display: block;
    margin-bottom: 16px;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.4s ease;
}

.footer__pages__item__four a:hover {
    color: #55e7fc;
    transform: scale(1.1);
}

.footer__pages__item__four a:active {
    transform: scale(1);
}

.footer__pages__item__five a {
    display: block;
    color: white;
    margin-bottom: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.4s ease;
}

.footer__pages__item__five a:hover {
    color: #55e7fc;
    transform: scale(1.1);
}

.footer__pages__item__five a:active {
    transform: scale(1);
}

.footer__pages__list__six img {
    width: 31px;
    height: 31px;
    transition: all 0.3s ease;
}

.footer__pages__list__six img:hover {
    transform: scale(1.1);
}

.footer__pages__list__six img:active {
    transform: scale(1);
}

/* header responsive */
@media (min-width: 0px) and (max-width: 375px) {
    .continer {
        max-width: 350px;
    }

    header {
        max-width: 375px;
        background-color: #1B2330;
        /* position: relative; */
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }

    .header {
        background-color: #1B2330;
        /* position: relative; */
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__navigation {
        max-width: 331px;
        padding-top: 24px;
        padding-left: 20px;
        padding-right: 24px;
    }

    .sait__svg {
        width: 80px;
        height: 24px;
    }

    .navigation__sait__svg {
        width: 80px;
        height: 24px;
    }

    .navigation__nav__item a {
        font-size: 12px;
        line-height: 14px;
    }

    .navigation__nav__item~.navigation__nav__item {
        margin-left: 24px;
    }

}

/* header responsive */

/* section responsive */
@media (min-width: 0px) and (max-width: 375px) {
    .continer {
        max-width: 375px;
    }

    main {
        background: url(../images/Path_2.png), #1B2330;
        background-repeat: no-repeat;
        background-size: cover;
        width: 375px;
        left: 0px;
        background: #181F2B;

    }

    .header__middle__jpg {
        max-width: 375px;
        padding-top: 48px;
        margin: 0 auto;
        text-align: center;
    }

    .header__middle__jpg img {
        max-width: 304px;
        height: 225px;
        margin-bottom: 15px;
        /* margin: 0 auto; */
    }

    .header__middle__jpg h2 {
        font-size: 24px;
        line-height: 36px;
        max-width: 300px;
        margin: 0 auto;
    }

    .header__middle__jpg p {
        font-size: 14px;
        line-height: 21px;
        width: 296px;
        margin-top: 15px;
        /* margin: 0 auto; */
    }

    .site__header__button {
        border-radius: 24px;
        font-size: 12px;
        line-height: 16px;
        padding: 16px 81px;
        width: 240px;
        height: 48px;
    }

    .section__bloc {
        max-width: 349px;
        margin-left: -15px;
        text-align: center;
        flex-direction: column;
        padding-inline-start: 0px;
        margin: 0 auto;
        margin-top: 131px;
    }

    .section__bloc__too {
        flex-direction: column;
        max-width: 349px;
        text-align: center;
        margin: 0 auto;
        padding-inline-start: 0px;
    }

    .section__bloc__list {
        max-width: 320px;
        margin-bottom: 88px;
        margin-left: auto;
        margin-right: auto;
    }

    .section__bloc__list__item {
        max-width: 320px;
    }

    .section__bloc__list__item img {
        width: 64px;
        height: 59px;
    }

    .section__bloc__list__item h3 {
        font-size: 18px;
        line-height: 24px;
    }

    .section__bloc__list__item p {
        font-size: 14px;
        line-height: 21px;
    }

    .section__bloc__list__too {
        max-width: 320px;
        margin-bottom: 88px;
        margin-left: auto;
        margin-right: auto;
    }

}

/* section responsive */

/* section__too responsive */
@media (min-width: 0px) and (max-width: 375px) {
    .continer {
        max-width: 375px;
    }

    .section__too {
        margin-top: 160px;
        display: flex;
        flex-direction: column;
    }

    .section__too__jpg img {
        width: 304px;
        height: 229px;
    }

    .section__too__right {
        width: 320px;
    }

    .section__too__right h2 {
        font-size: 18px;
        line-height: 24px;
        width: 300px;
    }

    .section__too__right p {
        font-size: 14px;
        line-height: 21px;
        width: 320px;
    }

    .section__too__right a {
        font-size: 12px;
        line-height: 16px;
    }

    .link__img {
        width: 12px;
        height: 12px;
    }
}

/* section__too responsive */

/* section__three reponsive */
@media (min-width: 0px) and (max-width: 375px) {
    .continer {
        max-width: 375px;
    }

    .section__three__pages {
        margin-top: 169px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .section__three__pages::before {
        font-size: 80px;
        line-height: 50px;
        transform: translate(-130px, -260px);
    }

    .section__three__pages__item {
        width: 280px;
        padding: 22px 20px;
        z-index: 1;
    }

    .section__three__pages__item~.section__three__pages__item {
        margin-top: 24px;
    }

    .section__three__pages__item p {
        width: 240px;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        margin-bottom: 17px;
    }

    .setion__three__iteam__jpg {
        vertical-align: middle;
        height: 15px;
    }

    .section__three__item__jpg__name {
        vertical-align: middle;
        height: 24px;
    }
}

/* section__three reponsive */

/* section__four responsive */
@media (min-width: 0px) and (max-width: 375px) {
    .continer {
        max-width: 375px;
    }

    .section__four {
        width: 336px;
        padding: 39px 28px;
        height: 353px;
        border-radius: 9px;
        transform: translateY(160px);
        margin-top: 0px;
    }

    .section__four__title h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .section__four__title p {
        font-size: 14px;
        line-height: 21px;
        width: 280px;
    }

    .section__four__form {
        margin-top: 32px;
    }

    .section__four__form__input {
        font-size: 10px;
        line-height: 14px;
        padding-top: 19px;
        padding-bottom: 15px;
        padding-left: 28px;
        padding-right: 100px;
        height: 48px;
        width: 280px;
        margin-bottom: 24px;
    }

    .section__four__form__button {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 72px;
        padding-right: 73px;
        height: 48px;
        width: 285px;
        margin-left: -1px;
    }
}

/* section__four responsive */

/* footer responsive */
@media (min-width: 0px) and (max-width: 375px) {
    .continer {
        max-width: 375px;
    }

    footer {
        background-color: #0B1524;
        background-size: cover;
        background-repeat: no-repeat;
        width: 375px;
    }

    .footer__wrapper {
        padding-top: 249px;
        padding-bottom: 20px;
        padding-left: 28px;
    }

    .sait__svg {
        width: 80px;
        height: 24px;
    }

    .sait__svg {
        width: 80px;
        height: 24px;
    }

    .footer__pages {
        display: flex;
        justify-content: space-between;
        align-items: top;
        padding-left: 0;
        margin-top: 40px;
        flex-direction: column;
    }

    .footer__pages__item__one {
        margin-right: -27px;
        max-width: 10px;
    }

    .footer__pages__item__one img {
        width: 12px;
        height: 18px;
        max-width: 20px;
    }

    .footer__pages__item__too p {
        width: 279px;
    }

    .footer__pages__item__three img {
        display: inline-block;
        width: 13px;
        height: 13px;
        vertical-align: middle;
        margin-right: 15px;
    }

    .footer__pages__item__four {
        margin-top: 48px;
    }

    .footer__pages__list__six {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer__pages__list__six img {
        width: 27px;
        height: 27px;
    }
}

/* footer responsive */

/* header too responsive */
@media (min-width: 375px) and (max-width: 600px) {
    .continer {
        max-width: 660px;
    }

    header {
        max-width: 600px;
        background-color: #1B2330;
        /* position: relative; */
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }

    .header {
        background-color: #1B2330;
        /* position: relative; */
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__navigation {
        max-width: 586px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 24px;
    }

    .sait__svg {
        width: 100px;
        height: 35px;
    }

    .navigation__sait__svg {
        width: 100px;
        height: 35px;
    }

    .navigation__nav__item a {
        font-size: 14px;
        line-height: 16px;
    }

    .navigation__nav__item~.navigation__nav__item {
        margin-left: 30px;
    }

}

/* header  responsive too */

/* section responsive too */
@media (min-width: 375px) and (max-width: 600px) {
    .continer {
        max-width: 600px;
    }

    main {
        background: url(../images/Path_2.png), #1B2330;
        background-repeat: no-repeat;
        background-size: cover;
        width: 600px;
        left: 0px;
        background: #181F2B;

    }

    .header__middle__jpg {
        max-width: 600px;
        padding-top: 150px;
        margin: 0 auto;
        text-align: center;
    }

    .header__middle__jpg img {
        max-width: 504px;
        height: 350px;
        margin-bottom: 18px;

    }

    .header__middle__jpg h2 {
        font-size: 28px;
        line-height: 40px;
        max-width: 490px;
        margin: 0 auto;
    }

    .header__middle__jpg p {
        font-size: 16px;
        line-height: 24px;
        width: 450px;
        margin-top: 15px;
    }

    .site__header__button {
        border-radius: 24px;
        font-size: 14px;
        line-height: 16px;
        padding: 16px 81px;
        width: 260px;
        height: 55px;
    }

    .section__bloc {
        max-width: 574px;
        margin-left: -14px;
        text-align: center;
        flex-direction: column;
        padding-inline-start: 0px;
        margin: 0 auto;
        margin-top: 131px;
    }

    .section__bloc__too {
        flex-direction: column;
        max-width: 574px;
        text-align: center;
        margin: 0 auto;
        padding-inline-start: 0px;
    }

    .section__bloc__list {
        max-width: 574px;
        margin-bottom: 88px;
        margin-left: auto;
        margin-right: auto;
    }

    .section__bloc__list__item {
        max-width: 540px;
    }

    .section__bloc__list__item img {
        width: 80px;
        height: 65px;
    }

    .section__bloc__list__item h3 {
        font-size: 22px;
        line-height: 22px;
    }

    .section__bloc__list__item p {
        font-size: 18px;
        line-height: 22px;
    }

    .section__bloc__list__too {
        max-width: 574px;
        margin-bottom: 88px;
        margin-left: auto;
        margin-right: auto;
    }

}

/* section responsive too */

/* section__too responsive too*/
@media (min-width: 375px) and (max-width: 600px) {
    .continer {
        max-width: 600px;
    }

    .section__too {
        margin-top: 160px;
        display: flex;
        flex-direction: column;
    }

    .section__too__jpg img {
        max-width: 504px;
        height: 350px;
    }

    .section__too__right {
        width: 545px;
    }

    .section__too__right h2 {
        font-size: 20px;
        line-height: 24px;
        width: 530px;
    }

    .section__too__right p {
        font-size: 16px;
        line-height: 21px;
        width: 550px;
    }

    .section__too__right a {
        font-size: 14px;
        line-height: 16px;
    }

    .link__img {
        width: 14px;
        height: 14px;
    }
}

/* section__too responsive too */

/* section__three reponsive too */
@media (min-width: 375px) and (max-width: 600px) {
    .continer {
        max-width: 600px;
    }

    .section__three__pages {
        margin-top: 169px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .section__three__pages::before {
        font-size: 80px;
        line-height: 50px;
        transform: translate(-215px, -240px);
    }

    .section__three__pages__item {
        width: 450px;
        padding: 22px 20px;
    }

    .section__three__pages__item~.section__three__pages__item {
        margin-top: 24px;
    }

    .section__three__pages__item p {
        width: 430px;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        margin-bottom: 17px;
    }

    .setion__three__iteam__jpg {
        vertical-align: middle;
        height: 15px;
    }

    .section__three__item__jpg__name {
        vertical-align: middle;
        height: 24px;
    }
}

/* section__three reponsive too */

/* section__four responsive too */
@media (min-width: 375px) and (max-width: 600px) {
    .continer {
        max-width: 600px;
    }

    .section__four {
        width: 561px;
        padding: 39px 28px;
        height: 420px;
        border-radius: 9px;
        transform: translateY(170px);
        margin-top: 0px;
    }

    .section__four__title h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .section__four__title p {
        font-size: 16px;
        line-height: 21px;
        width: 505px;
    }

    .section__four__form {
        margin-top: 40px;
    }

    .section__four__form__input {
        font-size: 12px;
        line-height: 14px;
        padding-top: 19px;
        padding-bottom: 15px;
        padding-left: 28px;
        padding-right: 100px;
        height: 60px;
        width: 450px;
        margin-bottom: 35px;
    }

    .section__four__form__button {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 72px;
        padding-right: 73px;
        height: 60px;
        width: 450px;
        margin-left: -1px;
    }
}

/* section__four responsive too*/

/* footer responsive too */
@media (min-width: 375px) and (max-width: 600px) {
    .continer {
        max-width: 600px;
    }

    footer {
        background-color: #0B1524;
        background-size: cover;
        background-repeat: no-repeat;
        width: 600px;
    }

    .footer__wrapper {
        padding-top: 249px;
        padding-bottom: 20px;
        padding-left: 28px;
    }

    .sait__svg {
        width: 100px;
        height: 35px;
    }

    .sait__svg {
        width: 100px;
        height: 35px;
    }

    .footer__pages {
        display: flex;
        padding-left: 0;
        margin-top: 40px;
        flex-direction: column;
    }

    .footer__pages__item__one {
        margin-right: -27px;
        max-width: 10px;
    }

    .footer__pages__item__one img {
        width: 14px;
        height: 20px;
        max-width: 20px;
    }

    .footer__pages__item__too p {
        width: 500px;
    }

    .footer__pages__item__three img {
        display: inline-block;
        width: 15px;
        height: 15px;
        vertical-align: middle;
        margin-right: 15px;
    }

    .footer__pages__item__four {
        margin-top: 45px;
    }

    .footer__pages__item__five {
        margin-top: 20px;
    }

    .footer__pages__list__six {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer__pages__list__six img {
        width: 30px;
        height: 30px;
    }
}

/* footer responsive too */

/* header responsive three */
@media (min-width: 600px) and (max-width: 800px) {
    .continer {
        max-width: 800px;
    }

    header {
        max-width: 800px;
        background-color: #1B2330;
        /* position: relative; */
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }

    .header {
        background-color: #1B2330;
        /* position: relative; */
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__navigation {
        max-width: 786px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 24px;
    }

    .sait__svg {
        width: 100px;
        height: 35px;
    }

    .navigation__sait__svg {
        width: 100px;
        height: 35px;
    }

    .navigation__nav__item a {
        font-size: 16px;
        line-height: 17px;
    }

    .navigation__nav__item~.navigation__nav__item {
        margin-left: 30px;
    }

}

/* header responsive three*/

/* section responsive three*/
@media (min-width: 600px) and (max-width: 800px) {
    .continer {
        max-width: 800px;
    }

    main {
        background: url(../images/Path_2.png), #1B2330;
        background-repeat: no-repeat;
        background-size: cover;
        width: 800px;
        left: 0px;
        background: #181F2B;

    }

    .header__middle__jpg {
        max-width: 734px;
        padding-top: 150px;
        margin: 0 auto;
        text-align: center;
    }

    .header__middle__jpg img {
        max-width: 604px;
        height: 450px;
        margin-bottom: 18px;

    }

    .header__middle__jpg h2 {
        font-size: 28px;
        line-height: 40px;
        max-width: 580px;
        margin: 0 auto;
    }

    .header__middle__jpg p {
        font-size: 16px;
        line-height: 24px;
        width: 500px;
        margin-top: 15px;
    }

    .site__header__button {
        border-radius: 24px;
        font-size: 14px;
        line-height: 16px;
        padding: 16px 81px;
        width: 270px;
        height: 60px;
    }

    .section__bloc {
        max-width: 750px;
        margin-left: -5px;
        margin-right: 5px;
        text-align: center;
        padding-inline-start: 0px;
        margin: 0 auto;
        margin-top: 131px;
    }

    .section__bloc__too {
        max-width: 750px;
        margin-left: -5px;
        margin-right: 5px;
        text-align: center;
        padding-inline-start: 0px;
        margin: 0 auto;
    }

    .section__bloc__list {
        max-width: 300px;
        margin-bottom: 88px;
        margin-left: auto;
        margin-right: auto;
    }

    .section__bloc__list__item {
        max-width: 300px;
    }

    .section__bloc__list__item img {
        width: 85px;
        height: 65px;
    }

    .section__bloc__list__item h3 {
        font-size: 20px;
        line-height: 45px;
        margin: 0 auto;
    }

    .section__bloc__list__item p {
        font-size: 18px;
        line-height: 22px;
        margin: 0 auto;
    }

    .section__bloc__list__too {
        max-width: 300px;
        /* margin-bottom: 88px; */
        margin-left: auto;
        margin-right: auto;
    }

}

/* section responsive three*/

/* section__too responsive three*/
@media (min-width: 600px) and (max-width: 800px) {
    .continer {
        max-width: 800px;
    }

    .section__too {
        display: flex;
    }

    .section__too__jpg img {
        max-width: 400px;
        height: 250px;
    }

    .section__too__right {
        width: 350px;
    }

    .section__too__right h2 {
        font-size: 20px;
        line-height: 24px;
        width: 320px;
    }

    .section__too__right p {
        font-size: 16px;
        line-height: 21px;
        width: 330px;
    }

    .section__too__right a {
        font-size: 14px;
        line-height: 16px;
    }

    .link__img {
        width: 14px;
        height: 14px;
    }
}

/* section__too responsive three*/

/* section__three reponsive three*/
@media (min-width: 600px) and (max-width: 800px) {
    .continer {
        max-width: 800px;
    }

    .section__three__pages {
        display: flex;
        flex-wrap: wrap;
        max-width: 750px;
        align-items: center;
        margin-top: 150px;
    }

    .section__three__pages::before {
        font-size: 80px;
        line-height: 50px;
        transform: translate(-365px, -175px);
    }

    .section__three__pages__item {
        width: 350px;
        padding: 22px 20px;
    }

    .section__three__pages__item {
        margin-top: 24px;
    }

    .section__three__pages__item p {
        width: 320px;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        margin-bottom: 17px;
    }

    .setion__three__iteam__jpg {
        vertical-align: middle;
        height: 15px;
    }

    .section__three__item__jpg__name {
        vertical-align: middle;
        height: 24px;
    }
}

/* section__three reponsive three*/

/* section__four responsive three*/
@media (min-width: 600px) and (max-width: 800px) {
    .continer {
        max-width: 800px;
    }

    .section__four {
        width: 561px;
        padding: 39px 28px;
        height: 450px;
        border-radius: 9px;
        transform: translateY(170px);
        margin-top: 0px;
    }

    .section__four__title h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .section__four__title p {
        font-size: 16px;
        line-height: 21px;
        width: 505px;
    }

    .section__four__form {
        margin-top: 32px;
    }

    .section__four__form__input {
        font-size: 12px;
        line-height: 14px;
        padding-top: 19px;
        padding-bottom: 15px;
        padding-left: 28px;
        padding-right: 100px;
        height: 60px;
        width: 450px;
        margin-bottom: 24px;
    }

    .section__four__form__button {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 72px;
        padding-right: 73px;
        height: 60px;
        width: 450px;
        margin-left: -1px;
    }
}

/* section__four responsive three*/

/* footer responsive three*/
@media (min-width: 600px) and (max-width: 800px) {
    .continer {
        max-width: 800px;
    }

    footer {
        background-color: #0B1524;
        background-size: cover;
        background-repeat: no-repeat;
        width: 800px;
    }

    .footer__wrapper {
        padding-top: 249px;
        padding-bottom: 20px;
        padding-left: 28px;
    }

    .sait__svg {
        width: 100px;
        height: 35px;
    }

    .sait__svg {
        width: 100px;
        height: 35px;
    }

    .footer__pages {
        display: flex;
        padding-left: 0;
        margin-top: 40px;
        flex-direction: column;
    }

    .footer__pages__item__one {
        margin-right: -27px;
        max-width: 10px;
    }

    .footer__pages__item__one img {
        width: 14px;
        height: 20px;
        max-width: 20px;
    }

    .footer__pages__item__too p {
        width: 500px;
    }

    .footer__pages__item__three img {
        display: inline-block;
        width: 15px;
        height: 15px;
        vertical-align: middle;
        margin-right: 15px;
    }

    .footer__pages__item__four {
        margin-top: 48px;
    }

    .footer__pages__item__five {
        margin-top: 20px;
    }

    .footer__pages__list__six {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer__pages__list__six img {
        width: 30px;
        height: 30px;
    }
}

/* footer responsive three */

/* header responsive four */
@media (min-width: 800px) and (max-width: 1100px) {
    .continer {
        max-width: 1100px;
    }

    header {
        max-width: 1100px;
        background-color: #1B2330;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }

    .header {
        background-color: #1B2330;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__navigation {
        max-width: 786px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 24px;
    }

    .sait__svg {
        width: 100px;
        height: 35px;
    }

    .navigation__sait__svg {
        width: 100px;
        height: 35px;
    }

    .navigation__nav__item a {
        font-size: 16px;
        line-height: 17px;
    }

    .navigation__nav__item~.navigation__nav__item {
        margin-left: 30px;
    }

}

/* header responsive four*/

/* section responsive four*/
@media (min-width: 800px) and (max-width: 1100px) {
    .continer {
        max-width: 1100px;
    }

    main {
        background: url(../images/Path_2.png), #1B2330;
        background-repeat: no-repeat;
        background-size: cover;
        width: 1100px;
        left: 0px;
        background: #181F2B;

    }

    .header__middle__jpg {
        max-width: 734px;
        padding-top: 150px;
        margin: 0 auto;
        text-align: center;
    }

    .header__middle__jpg img {
        max-width: 604px;
        height: 450px;
        margin-bottom: 18px;

    }

    .header__middle__jpg h2 {
        font-size: 28px;
        line-height: 40px;
        max-width: 580px;
        margin: 0 auto;
    }

    .header__middle__jpg p {
        font-size: 16px;
        line-height: 24px;
        width: 500px;
        margin-top: 15px;
    }

    .site__header__button {
        border-radius: 24px;
        font-size: 14px;
        line-height: 16px;
        padding: 16px 81px;
        width: 270px;
        height: 60px;
    }

    .section__bloc {
        max-width: 750px;
        margin-left: -5px;
        margin-right: 5px;
        text-align: center;
        padding-inline-start: 0px;
        margin: 0 auto;
        margin-top: 131px;
    }

    .section__bloc__too {
        max-width: 750px;
        margin-left: -5px;
        margin-right: 5px;
        text-align: center;
        padding-inline-start: 0px;
        margin: 0 auto;
    }

    .section__bloc__list {
        max-width: 300px;
        margin-bottom: 88px;
        margin-left: auto;
        margin-right: auto;
    }

    .section__bloc__list__item {
        max-width: 300px;
    }

    .section__bloc__list__item img {
        width: 85px;
        height: 65px;
    }

    .section__bloc__list__item h3 {
        font-size: 20px;
        line-height: 45px;
        margin: 0 auto;
    }

    .section__bloc__list__item p {
        font-size: 18px;
        line-height: 22px;
        margin: 0 auto;
    }

    .section__bloc__list__too {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

}

/* section responsive four*/

/* section__too responsive four*/
@media (min-width: 800px) and (max-width: 1100px) {
    .continer {
        max-width: 1100px;
    }

    .section__too {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: a auto;
    }

    .section__too__jpg img {
        max-width: 400px;
        height: 250px;
    }

    .section__too__right {
        width: 400px;
    }

    .section__too__right h2 {
        font-size: 20px;
        line-height: 24px;
        width: 320px;
    }

    .section__too__right p {
        font-size: 16px;
        line-height: 21px;
        width: 330px;
    }

    .section__too__right a {
        font-size: 14px;
        line-height: 16px;
    }

    .link__img {
        width: 14px;
        height: 14px;
    }
}

/* section__too responsive four*/

/* section__three reponsive four*/
@media (min-width: 800px) and (max-width: 1100px) {
    .continer {
        max-width: 1100px;
    }

    .section__three__pages {
        display: flex;
        flex-wrap: wrap;
        max-width: 750px;
        align-items: center;
        margin-top: 150px;
    }

    .section__three__pages::before {
        font-size: 80px;
        line-height: 50px;
        transform: translate(-525px, -65px);
    }

    .section__three__pages__item {
        width: 350px;
        padding: 22px 20px;
    }

    .section__three__pages__item {
        margin-top: 24px;
    }

    .section__three__pages__item p {
        width: 320px;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        margin-bottom: 17px;
    }

    .setion__three__iteam__jpg {
        vertical-align: middle;
        height: 15px;
    }

    .section__three__item__jpg__name {
        vertical-align: middle;
        height: 24px;
    }
}

/* section__three reponsive four*/

/* section__four responsive four*/
@media (min-width: 800px) and (max-width: 1100px) {
    .continer {
        max-width: 1100px;
    }

    .section__four {
        width: 561px;
        padding: 39px 28px;
        height: 450px;
        border-radius: 9px;
        transform: translateY(170px);
        margin-top: 0px;
    }

    .section__four__title h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .section__four__title p {
        font-size: 16px;
        line-height: 21px;
        width: 505px;
    }

    .section__four__form {
        margin-top: 32px;
    }

    .section__four__form__input {
        font-size: 12px;
        line-height: 14px;
        padding-top: 19px;
        padding-bottom: 15px;
        padding-left: 28px;
        padding-right: 100px;
        height: 60px;
        width: 450px;
        margin-bottom: 24px;
    }

    .section__four__form__button {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 72px;
        padding-right: 73px;
        height: 60px;
        width: 450px;
        margin-left: -1px;
    }
}

/* section__four responsive four*/

/* footer responsive four*/
@media (min-width: 800px) and (max-width: 1100px) {
    .continer {
        max-width: 1100px;
    }

    footer {
        background-color: #0B1524;
        background-size: cover;
        background-repeat: no-repeat;
        width: 1100px;
    }

    .footer__wrapper {
        padding-top: 249px;
        padding-bottom: 20px;
        padding-left: 28px;
    }

    .sait__svg {
        width: 100px;
        height: 35px;
    }

    .sait__svg {
        width: 100px;
        height: 35px;
    }

    .footer__pages {
        display: flex;
        padding-left: 0;
        margin-top: 40px;
    }

    .footer__pages__item__one {
        margin-right: -27px;
        max-width: 14px;
    }

    .footer__pages__item__one img {
        width: 14px;
        height: 20px;
        max-width: 14px;
    }

    .footer__pages__item__too p {
        width: 300px;
    }

    .footer__pages__item__three img {
        display: inline-block;
        width: 15px;
        height: 15px;
        vertical-align: middle;
        margin-right: 15px;
    }

    .footer__pages__item__four {
        width: 100px;
    }

    .footer__pages__item__five {
        width: 80px;
    }

    .footer__pages__list__six img {
        width: 30px;
        height: 30px;
    }
}

/* footer responsive four */